
body {
  padding: 0;
  margin: 0;
  font-family: var(--font_family_body, var(--font_family_body_preset, 'Spectral', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'));
  /* font-size: calc(17px + var(--font_size_body_offset, 0px)); */
  /* color: var(--color-primary); */
  min-height: 100vh;
}




